
body{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
button{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: none;
	background-color: hsl(0, 0%, 30%);
	color: white;
	font-size: 3rem;
	font-weight: bold;
	cursor: pointer;
}

#keys{
	display: grid;
	grid-template-columns: repeat(4  ,1fr);
	gap: 10px;
	padding: 25px;
}

#calculator{
	font-family: Arial, Helvetica, sans-serif;
	background-color: hsl(0, 0%, 15%);
	border-radius: 15px;
	max-width: 500px;
	overflow: hidden;
}

#display{
	width: 100%;
	font-size: 3rem;
	text-align: left;
	border: none;
	background-color: hsl(0, 0%, 20%); ;
	color: white;
}
button:hover{
	background-color: hsl(0, 0%, 40%);
}
button:active{
	background-color: hsl(0, 0%, 50%);
}
.specialBtn{
	background-color: hsl(16, 90%, 52%);
}
.specialBtn:hover{
	background-color: hsla(16, 95%, 34%, 0.281);
}